html {
    background: paleturquoise;
}

header {
    border-left: 5px solid paleturquoise;
    border-right: 5px solid paleturquoise;
    background: paleturquoise;
    font-family: fantasy;
    padding: 2%;
}

body {
    background: azure;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    background: skyblue;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    list-style-type: none;
}

h1 {
    font-size: 3em;
    font-family: fantasy;
}

h2 {
    font-size: 2em;
    line-height: 0.8em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu {
    background: paleturquoise;
    color: white;
    padding: 10px;
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}

#top {
    font-family: fantasy;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0%;
    padding: 0%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.stick-top {
    position: sticky;
    top: 0;
}

h3 {
    font-size: 2em;
    font-family: monospace;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    margin-right: 0em;
}

table {
    table-layout: auto;
    border-collapse: collapse;
}

section {
    padding: 20px;
}

caption {
    font-family: fantasy;
}

td {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: solid 1px;
}

aside {
    width: 40%;
    height: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
}

.author-photo {
    width: 40%;
    height: 50%;
    padding: 20px;
}

#blog {
    border-left: 5px solid paleturquoise;
    border-right: 5px solid paleturquoise;
    padding: 20px;
    border-top: 2px solid black;
}

.blog_pic {
    width: 1080px;
    height: 720px;
}

.post_blog {
    border-bottom: 2px dotted black;
}

#music_table {
    width: 600px;
}

.signup {
    padding: 20px;
}

form {
    width: fit-content;
}

label {
    line-height: 1.8em;
}

.sub-commit {
    width: 60em;
    height: 20em;
}

